{% extends "base.html" %} {% block content %}

<div class="hero-image">
    <h1 class="home-header display-5 p-3 rounded-3 fw-normal">
        Welcome to the Keto Meal Planner
    </h1>
    <div class="button-container">
        <button type="button" class="btn btn-dark btn-lg">Start Planning</button>
        <button type="button" class="btn btn-dark btn-lg">My Meal Plans</button>
        <button type="button" class="btn btn-dark btn-lg">Browse Meal Plans</button>
    </div>
</div>

{% endblock %}